{{- $github_email := promptStringOnce . "github_email" "Github e-mail address" -}}
{{- $github_name := promptStringOnce . "github_name" "Github name" -}}
{{- $workspace := promptStringOnce . "workspace" "Work Space [personal_mac, office_mac, office_win, office_linux]" -}}

[data]
    github_email = {{ $github_email | quote }}
    github_name = {{ $github_name | quote }}
    workspace = {{ $workspace | quote }}