{{- if eq .chezmoi.os "darwin" -}}
{{- if eq .workspace "personal_mac" -}}
#!/bin/bash

echo -e "Installing packages with homebrew"


brew bundle --no-lock --file=/dev/stdin <<EOF
tap "1password/tap"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"

# IINA
# Jetbrains-toolbox
# GoogleDrive
# Transmission
# Raycast

brew "azure-cli"
brew "git"
brew "httpie"
brew "neovim"
brew "node"


cask "1password-cli"
cask "iterm2"
cask "karabiner-elements"
cask "pgadmin4"
EOF
{{ end -}}
{{- end -}}