{{- if eq .chezmoi.os "darwin" -}}
{{- if eq .workspace "personal_mac" -}}
#!/bin/bash

export HOMEBREW_CASK_OPTS="--no-quarantine"
echo -e "Installing packages with homebrew"

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"

brew "exa"
brew "git"
brew "azure-cli"
brew "httpie"
brew "neovim"
brew "node"
brew "postgresql"
brew "thefuck"
brew "fzf"
brew "starship"

cask "warp"
cask "docker"
cask "microsoft-office"
cask "adguard"
cask "transmission"
cask "jetbrains-toolbox"
cask "raycast"
cask "google-chrome"
cask "transmission"
cask "1password-cli"
#cask "1password-beta"
cask "iterm2"
cask "karabiner-elements"
cask "pgadmin4"
cask "iina"
EOF
{{ end -}}
{{- end -}}
