{{- if eq .chezmoi.os "darwin" -}}
{{- if eq .workspace "personal_mac" -}}
#!/bin/bash

export HOMEBREW_CASK_OPTS="--no-quarantine"
echo -e "Installing packages with homebrew"

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"

brew "eza"
brew "bat"
brew "git"
brew "jq"
brew "ripgrep"
brew "fd"
brew "lazygit"
brew "azure-cli"
brew "httpie"
brew "neovim"
brew "node"
brew "thefuck"
brew "fzf"
brew "starship"
brew "htop"
brew "speedtest-cli"
brew "python"
brew "npm"
brew "gh"

cask "tradingview"
cask "the-unarchiver"
cask "hammerspoon"
cask "font-jetbrains-mono-nerd-font"
cask "font-jetbrains-mono"
cask "font-meslo-lg-nerd-font"
cask "dotnet-sdk"
cask "visual-studio-code"
cask "docker"
cask "adguard"
cask "transmission"
cask "jetbrains-toolbox"
cask "raycast"
cask "google-chrome"
cask "1password-cli"
cask "1password"
cask "iterm2"
cask "karabiner-elements"
cask "iina"
cask "burp-suite"
EOF
{{ end -}}
{{- end -}}
